<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link ref="shortcut icon" href="icon.ico" type="image/x-icon">
    
    <title>Duck Game CRAZY</title>
</head>
<body>
    <!-- <label>Dimka is best than Zena</label> -->
    <p><em>§1: The world is dead</em></p>
    <hr size="5" noshade width="300" color="red" /> 
    <p><em><em>§2: The dimka is alive</em></em></p>
    <strong> YouTube канал.</strong>

    <hr>

    <h2>V  вап апвап</h2>
    <ul type="'square" >
        <li>123</li>
        <li>546hh</li>
        <li>Мой дом</li>
    </ul>
    <ol>
        <li>Блоггер</li>
        <li>Я быстрый </li>
        <li>Лыжи</li>
    </ol>
</body>
</html>